[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie
